<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="customerv1"> 
	
	<listeners>
		<listener class-name="com.customer.utilities.Reporting"/>
	</listeners>
	
	
	<test name="customer Test1" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
			<!--  <class name="com.customer.testcases.TC_LoginTest_001" /> -->
			 <class name="com.customer.testcases.TC_LoginTest_002" />
		</classes>
	</test>
	
	<!-- <test name="customer Test2" thread-count="5">
		<parameter name="browser" value="ie" />
		<classes>
			<class name="com.customer.testcases.TC_LoginTest_001" /> 
		</classes>
	</test> 
	
	 <test name="nopCommerce Test3" thread-count="5">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.customer.testcases.TC_LoginTest_001" /> 
		</classes>
	</test> -->
	

</suite>